@use'mixins/mixins' as *;

@include b('icon') {
    display: inline-flex;
    background: #fe6666;
    width: 20px;
    height: 20px;
}

.z-icon {
    display: inline-flex;
    background: #fe6666;
    width: 20px;
    height: 20px;
}

